<nav class="main-nav">
		<!-- <li class="left"><a href='{{ site.baseurl }}{{ page.about }}'> Left Button </a></li> -->
    {% if page.url != "/index.html" %}
        <li><a href='{{ site.baseurl }}{{ page.about }}'> <span class="arrow">←</span> Home </a></li>
    {% endif %}

    {% if page.url != "/about/" %}
        {% if site.aboutPage %}
            <li><a href='{{ site.baseurl }}about'> About </a></li>
        {% endif %}
    {% endif %}
    <!-- <a class="cta" href="{{ site.baseurl }}feed.xml">Subscribe</a> -->
</nav>