<head>
	<link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
</head>

<div class="social" align="center">
	<p align="center">Create an edge with me:</p>
	<a target="_blank" class="github" href="https://github.com/david-cao"><i class="fa fa-github-square"></i></a>
	<a target="_blank" class="twitter" href="https://twitter.com/dcao96"><i class="fa fa-twitter-square"></i></a>
	<a target="_blank" class="facebook" href="https://www.facebook.com/david.cao.58"><i class="fa fa-facebook-square"></i></a>
</div>

<div align="center">
	<a href="mailto:davidcao@seas.upenn.edu" target="_top">davidcao@seas.upenn.edu</a>
</div>